<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>과목 조회</title>
</head>
<body>
<h1>전체학기 과목 조회</h1>
<div>
  <table>
    <thead>
    <tr>
      <td th:text="수강년도"></td>
      <td th:text="학기"></td>
      <td th:text="교과목명"></td>
      <td th:text="교과구분"></td>
      <td th:text="학점"></td>
      <td th:text="성적"></td>
    </tr>
    </thead>
    <tbody>
      <!-- th:each는 for문과 같은 기능을 수행 -->
      <tr th:each="course : ${courseList}">
        <td th:text="${course.year}"></td>
        <td th:text="${course.semester}"></td>
        <td th:text="${course.subject}"></td>
        <td th:text="${course.curriculum}"></td>
        <td th:text="${course.credit}"></td>
        <td th:text="${course.grade}"></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>